.container {
    padding: 2rem 0rem;
}

.container-custom {
    padding: 1rem 0rem;
}

h4 {
    margin: 2rem 0rem 1rem;
}

.table-image {

    td,
    th {
        vertical-align: middle;
    }
}


.custom-nav {
    margin-left: 70%;

}

li {
    margin-left: 20px;
}





